extends layout

block content
  h1 Author: #{author.name}

  h2 Books
  ul
    each book in books
      li
        a(href=book.url) #{book.title}
        p #{book.summary}

  hr
  p
    a(href=author.url+'/delete') Delete author